
manifest{
    name = 'Cyclomics/CyclomicsSeq'
    author = 'Cyclomics'
    homePage = 'http://cyclomics.com'
    description = 'Create high quality alignment data with variant identification for the Cyclomics CyclomicsSeq protocol.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = '0.9.2'
}

epi2melabs {
    outdirParam = 'output_dir'
    tags = "Realtime tests"
    icon = "faCircleNotch"
}


default_container = 'damicyclomics/cyclomicseq:0.8.0'

params.user_conda_location = "${projectDir}/environment.yml"

default_cycas_container_location = '/cycas/cycas.py'



timeline {
  enabled = true
  file = "${params.output_dir}/execution/timeline.html"
}
report {
  enabled = true
  file = "${params.output_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/trace.txt"
}
